$flegrix-grid-default: (
  columns: 12, // column-count → default: 12
  gutter: 3%, // gutter between columns → default: 3%
  IE-flexbox-fallback: true, // flexbox fallback for IE10+ → default: true
  flexbox-fallback: true, // flexbox fallback for other browsers than IE10+ → default: true
  debug: false, // debug-mode → default: false
  debug-display: 'flex', // shows in debug-mode with displa flex|grid → default: flex
  debug-container-column-background: true, // draw column in debug-mode → default: true
  debug-container-column-midline: false, // draw column-midline in debug-mode → default: false
  debug-container-gutter-midline: false, // draw gutter-midline in debug-mode → default: false
);

$flegrix-grid-settings: $flegrix-grid-default;

@if(variable-exists(flegrix-grid)) {
  $flegrix-grid-settings: map-merge($flegrix-grid-default, $flegrix-grid);
}


@mixin flegrix-felxbox() {
  // IE10+ hack
  @if(map-get($flegrix-grid-settings, IE-flexbox-fallback)) {
     @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
      // IE10+ specific styles go here
      @content;
    }
  }
  @if(map-get($flegrix-grid-settings, debug)) {
     @if(map-get($flegrix-grid-settings, debug-display) == 'flex'){
      @content;
    }
  }
  @else {
     @if(map-get($flegrix-grid-settings, flexbox-fallback)){
      @supports not (display: grid) {
         @content;
      }
    }
  }
}
@mixin flegrix-grid() {
   @if(map-get($flegrix-grid-settings, debug)){
    @if(map-get($flegrix-grid-settings, debug-display) != 'flex') {
       @content;
    }
  }
  @else {
     @supports (display: grid){
      @content;
    }
  }
}

@mixin container($count: null) {
  $columncount: map-get($flegrix-grid-settings, columns);
  $gutter: map-get($flegrix-grid-settings, gutter);
  @if ($count) {
    $gutter: $gutter * $columncount / $count;
    $columncount: $count;
  }
  @include flegrix-grid() {
    display: grid;
    grid-template-columns: repeat($columncount, 1fr);
    grid-column-gap: $gutter;
  }
  @include flegrix-felxbox() {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @if(map-get($flegrix-grid-settings, debug)) {
    background-image: url("data:image/svg+xml;charset=utf8,#{flegrix-url-encode(flegrix-background-svg($columncount))}");
    // IE10+
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
       @include flegrix-background-gradient($columncount); // hack for IE and edge
    }
    background-size: 100% 100%;
    background-position: center 0;
    background-repeat: repeat-y;
  }
}

// return from a shorthand tree values; from, to, context
// flegrix-parse(1) ==> $from: 1, $to: 1, $context: 12 (flegrix-grid setting)
// flegrix-parse(1 of 4) ==> $from: 1, $to: 1, $context: 4
// flegrix-parse(1 to 2) ==> $from: 1, $to: 2, $context: 12 (flegrix-grid setting)
// flegrix-parse(1 to 2 of 4) ==> $from: 1, $to: 2, $context: 4
@function flegrix-parse($shorthand) {
  $from: 1;
  $to: 1;
  $context: map-get($flegrix-grid-settings, columns);
  @if (length($shorthand) == 1) {
    $to: $shorthand;
  }
  @if (length($shorthand) == 3 and index($shorthand, "of") == 2) {
    $to: nth($shorthand, 1);
    $context: nth($shorthand, 3);
  }
  @if (length($shorthand) == 3 and index($shorthand, "to") == 2) {
    $from: nth($shorthand, 1);
    $to: nth($shorthand, 3);
  }
  @if (length($shorthand) == 5 and index($shorthand, "to") == 2 and index($shorthand, "of") == 4) {
    $from: nth($shorthand, 1);
    $to: nth($shorthand, 3);
    $context: nth($shorthand, 5);
  }
  @return $from $to $context;
}

// gutter() = gutter(12)
@function gutter($count: null) {
  $context: map-get($flegrix-grid-settings, columns);
  @if ($count) {
    $context: $count;
  }
  @return map-get($flegrix-grid-settings, gutter) * map-get($flegrix-grid-settings, columns) / $context;
}


// get the width in %
// span(4) == span(1 to 4 of 12)
@function span($shorthand: 1) {
  $parsed: flegrix-parse($shorthand);
  $from: nth($parsed, 1);
  $to: nth($parsed, 2);
  $context: nth($parsed, 3);
  $colCount: $to - $from + 1;
  $totalColumnWidth: 100% - (gutter($context) * ($context - 1));
  $width: ($totalColumnWidth / $context * $colCount) + (gutter($context) * ($colCount - 1));
  @return $width;
}


// flegrix-push(4) == flegrix-push(4 of 12)
@mixin flegrix-push($shorthand: 1) {
  $parsed: flegrix-parse($shorthand);
  $context: nth($parsed, 3);
  margin-left: span($shorthand) + gutter($context);
}


@mixin col(
  $shorthand: 1,
  $push: null,
  $fg: 1,
  $fs: 1
) {

  $parsed: flegrix-parse($shorthand);
  $from: nth($parsed, 1);
  $to: nth($parsed, 2);
  $context: nth($parsed, 3);

  @include flegrix-grid() {
    grid-column-start: $from;
    grid-column-end: $to + 1;
  }

  @include flegrix-felxbox() {
    flex-grow: $fg;
    flex-shrink: $fs;
    flex-basis: span($shorthand);
    max-width: span($shorthand);
    @if ($push){
      @if(map-get($flegrix-grid-settings, flexbox-fallback)) {
        @include flegrix-push($push of $context);
      }
    }
  }
}


// https://gist.github.com/B-iggy/14da053d2cebf92e1930
// functions to urlencode the svg string
@function flegrix-str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);
  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + flegrix-str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }
  @return $string;
}


@function flegrix-url-encode($string) {
  $map: (
    "%": "%25",
    " ": "%20",
    "!": "%21",
    "'": "%27",
    "(": "%28",
    ")": "%29",
    ",": "%2C",
    "/": "%2F",
    ":": "%3A",
    ";": "%3B",
    "<": "%3C",
    "=": "%3D",
    ">": "%3E",
    "[": "%5B",
    "]": "%5D"
    // "*": "%2A", '"': "%22", "#": "%23", "$": "%24",
    // "&": "%26", "+": "%2B", "?": "%3F", "@": "%40",
  );

  $new: $string;
  @each $search, $replace in $map {
    $new: flegrix-str-replace($new, $search, $replace);
  }
  @return $new;
}


@mixin flegrix-background-gradient($columns) {
  $transparent: rgba(0,0,0,0);
  $color: rgba(255,0,0,0.07);
  $x: 0;
  $values: ($color 0);
  @for $i from 1 through $columns {
     @if $i != $columns{
      $x: $x + span(1 of $columns);
      $values: $values + ", #{$color} #{$x}";
      $values: $values + ", #{$transparent} #{$x}";
      $x: $x + gutter($columns);
      $values: $values + ", #{$transparent} #{$x}";
      $values: $values + ", #{$color} #{$x}";
    }
    @else {
      $x: $x + span(1 of $columns);
      $values: append($values, $color $x, comma);
      $values: append($values, $transparent $x, comma);
    }
  }
  background-image: linear-gradient(to right, #{$values});
}


@function flegrix-background-svg($columns) {
  $color: rgba(255,0,0,0.07);
  $lineColor: rgba(128,0,0,0.05);
  $width: span(1 of $columns);
  $gutter: gutter($columns);
  $style: "<#{'style'}><![CDATA["; // fix to have it run in codepen.io
  $style: $style + "line {";
  $style: $style + " stroke: #{$lineColor};";
  $style: $style + " stroke-width: 1;";
  $style: $style + "} ";
  $style: $style + "]]></style>";
  $x: 0;
  $svg: "";
  @for $i from 1 through $columns {
    // draw column
    @if(map-get($flegrix-grid-settings, debug-container-column-background)) {
      $svg: $svg + "<rect x='#{$x}' width='#{$width}' height='100%' />";
    }
    // draw midline of column
    @if(map-get($flegrix-grid-settings, debug-container-column-midline)) {
      $svg: $svg + "<line x1='#{$x + $width/2}' y1='0' x2='#{$x + $width/2}' y2='100%' />";
    }
    // draw midline of gutter if not last column
    @if ($i != $columns) {
      $x: $x + $width;
      @if(map-get($flegrix-grid-settings, debug-container-gutter-midline)) {
        $svg: $svg + "<line x1='#{$x + $gutter/2}' y1='0' x2='#{$x + $gutter/2}' y2='100%' />";
      }
      $x: $x + $gutter;
    }
  }
  $svg: "<svg xmlns='http://www.w3.org/2000/svg' fill='#{$color}'>" + $style + $svg + "</svg>";
  @return $svg;
}
