$flegrix-grid: (
  debug: true,
  // debug-display: 'grid',
  debug-container-column-midline: true, // draw column-midline in debug-mode → default: false
  debug-container-gutter-midline: true, // draw gutter-midline in debug-mode → default: false
);

@import "../flegrix";


// Use (simple)

.container {
  @include container();
}

.left {
  @include col(1 to 8);
}

.right {
  @include col(9 to 12);
}

// Use (complex)

.complex {
  @include container(8);
}

.left-A {
  @include col(1 to 4 of 8);
}

.left-B {
  @include col(5 to 8 of 8);
}

.left-B-push {
  @include col(5 to 8 of 8, $push: 4);
}



// to have a better view on the architecture

.container {
  background-color: rgba(255, 255, 102, 0.15);
}

.info {
  @include col(12);
  background-color: rgba(102, 102, 102, 0.15);
}

.complex .info {
  @include col(8 of 8);
}

.left, .right {
  margin-top: 2rem;
  background-color: rgba(255, 0, 102, 0.15);
}

.left-A, .left-B, .left-B-push {
  margin-top: 2rem;
  background-color: rgba(102, 255, 102, 0.5);
}
